.feed {
  flex: 0.48;
  border-right: 1px solid var(--twitter-background);
  min-width: max-content;
  overflow-y: scroll;
}

/*to hide scrollbar for chrome safari opera*/
.feed::-webkit-scrollbar {
  display: none;
}

.feed {
  /*to hide scrollbar for IE and edge*/
  -ms-overflow-style: none;
  /*for firefox*/
  scrollbar-width: none;
}

.feed__header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  padding: 15px 20px;
  border-bottom: 1px solid var(--twitter-background);
}

.feed__header > h2 {
  font-size: 20px;
  font-weight: 800;
}

@media only screen and (max-width: 1280px) {
  .feed {
    flex: 0.6;
  }
}

@media only screen and (max-width: 1005px) {
  .feed {
    flex: 0.95;
  }
}

@media only screen and (max-width: 500px) {
  .feed {
    flex: 1;
    margin: 0;
    padding: 0;
  }
}
