.sidebar {
  border-right: 1px solid var(--twitter-background);
  flex: 0.25;
  display: flex;
  flex-direction: column;
  min-width: 250px;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.sidebar__twitterIcon {
  color: var(--twitter-color) !important;
  font-size: 35px !important;
  margin-left: 20px !important;
  margin-bottom: 20px !important;
}

.sidebar__tweet {
  background-color: var(--twitter-color) !important;
  width: 100%;
  border: none;
  color: white;
  font-weight: 900;
  padding: 15px;
  outline: none;
  margin-top: 20px;
  border-radius: 30px;
}
