.sidebarOption {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 5px;
}

.sidebarOption .MuiSvgIcon-root {
  font-size: 30px;
  padding: 10px;
}

.sidebarOption > h2 {
  font-weight: 780;
  font-size: 20px;
  margin-right: 20px;
}

.sidebarOption:hover {
  background-color: #e8f5fe;
  border-radius: 30px;
  color: var(--twitter-color);
  transition: color 100ms ease-out;
}

.sidebarOption--active {
  color: var(--twitter-color);
}

@media only screen and (max-width: 1280px) {
  .sidebarOption > h2 {
    display: none;
  }
}
