.sidebar {
  border-right: 1px solid var(--twitter-background);
  flex: 0.22;
  display: flex;
  flex-direction: column;
  min-width: 250px;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.sidebar__twitterIcon {
  color: var(--twitter-color) !important;
  font-size: 35px !important;
  margin-left: 20px !important;
  margin-bottom: 20px !important;
  padding: 5px;
  transform: translateX(-5px);
}

.sidebar__twitterIcon:hover {
  transition-property: background-color;
  transition-duration: 200ms;
  background-color: var(--twitter-background);
  border-radius: 50%;
}

.sidebar__tweet {
  background-color: var(--twitter-color) !important;
  width: 100% !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  padding: 15px !important;
  outline: none !important;
  margin-top: 20px !important;
  border-radius: 30px !important;
}
